/* Variables */
:root {
  --color-black: #000000;
  --color-yellow: #ff8a00;
  --color-white: #e9e9e9;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-white);
  text-decoration: none;
  transition: 0.3s linear color;
}

a:hover {
  color: var(--color-yellow);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

/* Container */
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Avatar */
.avatar {
  width: 200px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--color-white);
}

.header__title {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: 600;
}

.header__name {
  margin-left: 20px;
}

/* Title */
.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-yellow);
}

/* Contacts */
.contacts {
  margin-left: auto;
  text-align: right;
}

.contacts__link::after {
  content: "";
  width: 20px;
  height: 20px;
  margin-left: 10px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__link--map::after {
  background-image: url(../img/map.png);
}

.contacts__link--mail::after {
  background-image: url(../img/mail.png);
}

.contacts__link--telegram::after {
  background-image: url(../img/telegram.png);
}

.contacts__link--github::after {
  background-image: url(../img/github.png);
}

.contacts__item:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: right;
  transition: 0.3s linear color;
}

.contacts__link:hover {
  color: var(--color-yellow);
}

/* Main */
.main {
  display: flex;
}

/* About */
.about__text {
  line-height: 1.5;
  max-width: 95%;
}

/* Example */
.example__code {
  font-weight: 500;
}

/* Content */
.content {
  margin-left: 200px;
  flex-basis: 55%;
  border-left: 2px solid var(--color-white);
  border-right: 2px solid var(--color-white);
}

.section {
  padding-top: 60px;
  padding-left: 20px;
}

/* Work */
.work__wrapper {
  display: grid;
  grid-template-columns: 40% 55%;
  margin-bottom: 30px;
}

.work__title {
  margin-bottom: 20px;
}

.work__text {
  line-height: 1.5;
}

.work__date {
  font-weight: 300;
  color: var(--color-yellow);
}

/* List */
.list {
  list-style: square;
  list-style-position: inside;
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
}

/* Info */
.info__list {
  list-style: none;
}

/* Aside */
.aside {
  padding-bottom: 200px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 200px auto 343px;
  align-items: center;
  border-top: 2px solid var(--color-white);
  text-align: center;
}

.footer__link {
  font-weight: 600;
}

.footer__col:nth-child(2) {
  font-weight: 400;
}

.footer__col:nth-child(3) {
  background-color: var(--color-white);
}

.logo-school__img {
  height: 100px;
}
